td{
    border: 1px solid black;
    
}
table{
    margin: auto;
    border-collapse: collapse;
    width: 200px;
}
th{
    border: none;
    text-align: center;
    color: white;
    background-color: black;
}
tr td:nth-child(even){
    text-align: center;
}